{% extends 'welcome/header.html' %}
{% load staticfiles %}
{% block title %}shop{% endblock %}
  {% block body %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
            <link rel="stylesheet" href="{% static 'welcome/css/c1.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">
        <script>
            $(document).ready(function() {
            $('[data-toggle=offcanvas]').click(function() {
                $('.row-offcanvas').toggleClass('active');
            });
        });
        </script>
    <style type="text/css">
        .lis {
    border:0 #f2f2f2 solid;
  border-bottom-width:1px;
  display: block;
}
    </style>
    <br>
<div class="container-fluid">
      <div class="row">
        
        <!-- sidebar -->
        <div class="col-sm-2" role="navigation">
            <ul class="nav" style="position: fixed;">
                <li class="lis" style="padding-top:10px;"><strong>{{ category.first.gender }}'s Collection</strong></li><br>
                {% for s in category %}
              <li class="active lis"><a href="{% url 'welcome:products' s.gender s.id %}" style="color:black;">{{ s.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 slide1">
            {% for s in category %}
            {% if forloop.first %}
            <img src="{{ s.image.url }}" class="img-responsive" id="newarrivals">
            <div class="text1">{{ s.title }}s</div>
            <a href="{% url 'welcome:products' s.gender s.id %}"><div class="button" style="color: white;">Shop Now</div></a>
            <div class="dressofmonth slide2" id="wedding" >{{ s.title }}</div>
            {% else %} 
            <div class="col-md-3 slide3" style="margin-right: 40px;">
                <img src="{{ s.image.url }}" id="dm1" width="250px">
                <div class="middle"><div class="text2"><a href="{% url 'welcome:products' s.gender s.id %}" id="weddings">{{ s.title }}</a></div></div> 
            </div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="col-sm-2"></div>
          
</div>
</div>

<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
            $(this).toggleClass('open');       
        }
    );

  $(".single-item").slick({
  dots: false,
  slidesToShow: 3,
  centerMode: true,
  centerPadding: '40px',
  autoplay: true,
  autoplaySpeed: 1000,
});         
});
window.sr = ScrollReveal();
sr.reveal('.slide1',{ duration: 500 });
sr.reveal('.slide2',{ duration: 500 });
sr.reveal('.slide3',{ duration: 500 });
sr.reveal('.slide4',{ duration: 500 });
sr.reveal('.slide5',{ duration: 500 });
sr.reveal('.slide6',{ duration: 500 });
sr.reveal('.slide7',{ duration: 500 });
</script>   
   
{% endblock %}